@{
    ViewBag.Title = "Image Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";   // remove if you are using a shared layout
}

 <div class="card academic-title-card">
        <h4 class="mb-0 fw-bold text-center">
            📚 ACADEMIC YEAR 📚
        </h4>
    </div>

   